# translated from .hgignore

.vs/
.git/
.hg/

Generated/*.cs
packages
*.nupkg
*.suo
*.user

bin/
obj/
lib/

_*/
Backup/
UpgradeLog.htm
TestResults/
*.psess
*.vsp
*~
*.orig

data/

local.settings.json
gitarc/Properties/launchSettings.json



